body {
    background-color: #ffffff ;
}

h1 {
    font-family:'East Sea Dokdo';
    font-size:large;
    position: sticky;
    text-align: center;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    
    
}

.nav-bar {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width:100%;
    background-color: rgb(255, 255, 255);
}

.nav-bar a {
    text-decoration: none;
    color: black;
    padding: 0vw 2vw 0vh 2vh;
    font-family: monospace
}

.nav-bar a:hover{
    background-color: #FFDf6C ;
    ;
  }


.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:30px;
    justify-items: center;



}

.skills-list {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
}

.skill-image {
    place-self: center;
    
}

.skill {
    justify-content: center;
}
.skills-title {
    font-size: xx-large;
}

.logo-space {
    background-color:  #68707B;
}

.navigation-bar {
    background-color: #FFDf6C;
}